.user-detail-header{
    min-height: 250px;
    background-color: #ff5b27;
    color : white;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 16px;

    img{
        height: 100px;
        width: 100px;
        object-fit: cover;
        border-radius: 50%;
    }
}

.user-info{
    height: 100px;
    margin-left: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    h2{
        margin: 0;
    }
}