<mat-card class="user-detail-header">
  <button mat-icon-button class="pin-right-uppper-corner" [matMenuTriggerFor]="userMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #userMenu="matMenu">
    <button mat-menu-item (click)="editUserDetail()">Edit</button>
  </mat-menu>
  <img src="./assets/img/profile-picture.png" alt="" />
  <div class="user-info">
    <h2>{{ user.firstName }} {{ user.lastName }}</h2>
    <p>{{ user.mail }}</p>
  </div>
</mat-card>

<mat-card class="mt-32">
  <button mat-icon-button class="pin-right-uppper-corner" [matMenuTriggerFor]="addressMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #addressMenu="matMenu">
    <button mat-menu-item aria-modal (click)="editMenu()">Edit</button>
  </mat-menu>
  <mat-card-header>
    <mat-card-title>Address</mat-card-title>
  </mat-card-header>
  <mat-card-content class="mt-8">
    <p>{{ user.street }}</p>
    <p>{{ user.zipCode }} {{ user.city }}</p>
  </mat-card-content>
</mat-card>
