.add-user-btn{
    position: absolute;
    right: 56px;
    bottom: 56px;
}

.add-user-icon{
    cursor: pointer;
}

mat-card-content{
    padding-left: 0;
    padding-right: 0;
}

.user-table{
    width: 100%;
    border-collapse: collapse;
    tr{
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);
        cursor: pointer;
        &:hover {
            background-color: rgba(0, 0, 0, 0.04);
        }
        &:first-child{
            cursor: default;

            &:hover {
                background-color: unset;
            }
        }
        &:last-child{
            border-bottom: none;
        }
    }

    td{
        height: 48px;
        &:first-child{
            padding-left: 16px;
        }
    }

    th {
        color: rgba(0, 0, 0, 0.4);
        font-size: 14px;
        font-weight: 500;
        text-align: start;
        &:first-child{
            padding-left: 16px;
        }
    }
}